/*background for header*/
.stApp > header{
    background: #1c2743;
    color: #ffffff;
}

/*background*/
.stApp{
    background: #1c2743;
    color: #ffffff;
}

/*background for sidebar*/
.st-emotion-cache-vk3wp9 {
    background: linear-gradient(#1c2743, #b46382);
    height: 100%
}

.st-emotion-cache-10zg0a4 > button:nth-child(1) > svg:nth-child(1){
    color: #b46382;
    height: 2rem;
    width: 2rem;
}

/*title color*/
.st-emotion-cache-10trblm{
    color:#ffffff;
}

/*sidebar button style*/
.st-emotion-cache-lrlib > li:nth-child(n) > div:nth-child(1) > a:nth-child(1){
    background-color: #1c2743;
    border-radius: 0px;
    padding: 10px 46px;
    margin: 0px 50px;
    margin-bottom: 10px;
}


/*sidebar button style - HOME button*/
.st-emotion-cache-pkbazv{
    color: #ffffff;
    font-weight: bold;
}

/*sidebar button style - HOME button*/
span.st-emotion-cache-17lntkn:nth-child(1){
    color: #ffffff;
    font-weight: bold;
}

/*sidebar fonts*/
.st-emotion-cache-lrlib > li:nth-child(n) > div:nth-child(1) > a:nth-child(1) > span:nth-child(2){
    color: #ffffff;
    font-weight: bold;
}