div.st-emotion-cache-e8g64f:nth-child(4) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 25px;

}

div.st-emotion-cache-e8g64f:nth-child(4){
    margin-bottom: 20px;
}

div.st-emotion-cache-keje6w:nth-child(2){
    margin-top: 10px;
}

div.st-emotion-cache-keje6w:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(n){
    padding-top: 3px;
}


div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1){
    background-color: #b46382;
    border-radius: 0px;
}

div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-weight: bold;
}

div.st-emotion-cache-keje6w:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(n) > div:nth-child(1) > div:nth-child(1) > ol:nth-child(1) > li:nth-child(1){
    font-size: 20px;
}