/* ---------- Problem 2 ---------- */
div.st-emotion-cache-ocqkz7:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -7px;
}

div.st-emotion-cache-ocqkz7:nth-child(15) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -7px;
}

div.st-emotion-cache-ocqkz7:nth-child(24) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){    margin-top: -9px;
    margin-top: -7px;
}

div.st-emotion-cache-ocqkz7:nth-child(33) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){    margin-top: -7px;
    margin-top: -8px;
}

div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){    
    color: #1c2743;
    font-weight: bold;
}

div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1){
    background-color:#fd9664;
    border: #fd9664;
    border-radius: 8px;
    margin-left: 0px;
}

div.element-container:nth-child(14) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 18px;
}

div.element-container:nth-child(23) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size:  18px;
}

div.element-container:nth-child(32) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 18px;
}