div.element-container:nth-child(4) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 18px;
}

div.element-container:nth-child(25) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 18px;
}

div.st-emotion-cache-ocqkz7:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-ocqkz7:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    margin-top: 5px;
}

div.st-emotion-cache-ocqkz7:nth-child(15) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-ocqkz7:nth-child(15) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    margin-top: 5px;
}

div.st-emotion-cache-ocqkz7:nth-child(24) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-ocqkz7:nth-child(37) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -8px;
}

div.element-container:nth-child(7) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){    
    color: #1c2743;
    font-weight: bold;
}

div.element-container:nth-child(7) > div:nth-child(1) > button:nth-child(1){
    background-color:#fd9664;
    border: #fd9664;
    border-radius: 8px;
    margin-left: 0px;
}

div.element-container:nth-child(16) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
    font-weight: bold;
}

div.element-container:nth-child(16) > div:nth-child(1) > button:nth-child(1)
{
    background-color:#fd9664;
    border: #fd9664;
    border-radius: 8px;
    margin-left: 0px;
}

div.element-container:nth-child(31) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
    font-weight: bold;
}

div.element-container:nth-child(31) > div:nth-child(1) > button:nth-child(1){
    background-color:#fd9664;
    border: #fd9664;
    border-radius: 8px;
    margin-left: 0px;
}

div.element-container:nth-child(38) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
    font-weight: bold;
}

div.element-container:nth-child(38) > div:nth-child(1) > button:nth-child(1){
    background-color:#fd9664;
    border: #fd9664;
    border-radius: 8px;
    margin-left: 0px;
}

div.element-container:nth-child(14) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size:  18px;
}

div.st-emotion-cache-ocqkz7:nth-child(44) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -7px;
}

div.element-container:nth-child(45) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
    font-weight: bold;
}

div.element-container:nth-child(45) > div:nth-child(1) > button:nth-child(1){
    background-color:#fd9664;
    border: #fd9664;
    border-radius: 8px;
    margin-left: 0px;
}