div.element-container:nth-child(4) > div:nth-child(1) > div:nth-child(1) > ol:nth-child(1) > li:nth-child(1){
    font-size: 18px;
}

div.element-container:nth-child(5) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 18px;
}

.st-emotion-cache-16idsys > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(7) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 18px;
}

div.element-container:nth-child(7) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(9) > div:nth-child(1) > div:nth-child(1) > ul:nth-child(1) > li:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(10) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(10) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){    font-size: 20px;
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(12) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(12) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(15) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(16) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(17) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(18) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(15) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(16) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(17) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(18) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(19) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(20) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(21) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
background-color: #1c2743;
font-size: 20px;
color: #fd9664;
}

div.element-container:nth-child(19) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(20) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}

div.element-container:nth-child(21) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
    font-size: 18px;
}