div.element-container:nth-child(5) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(6) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(7) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(11) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(12) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(15) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(16) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(19) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(20) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(21) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(22) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(26) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(27) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#ffffff;
}

div.element-container:nth-child(28) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(31) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(32) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(33) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(34) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(37) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(38) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(39) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(40) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(8) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(13) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}    

div.element-container:nth-child(17) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}   

div.element-container:nth-child(23) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(29) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(35) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}

div.element-container:nth-child(41) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #ffffff;
}